# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.assignment_five.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Conno\RiderProjects\mpls-dog-boarding-price-estimate-calculator-assignment-5-Unieveth\.idea\.idea.assignment_five.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
